html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}

ol[role=list], ul[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

button, input, select, textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, ::after, ::before {
    animation-duration: NaNs !important;
    animation-iteration-count: 1 !important;
    transition-duration: NaNs !important;
    scroll-behavior: auto !important;
  }
}
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:focus {
  outline: 0;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CALC */
body {
  font-family: "K2D";
  font-size: 1rem;
  background-color: #100f0f;
  color: #fff;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0.9375em;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.625em;
  position: absolute;
  width: 100%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.header__logo {
  font-family: "Just Another Hand";
  font-size: 3.375rem;
}

.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  height: 100%;
  background-position: 0 -200px;
  background-size: cover;
  z-index: 1;
}
.promo .container {
  margin-top: 100px;
}
.promo::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 48.855%, rgb(16, 15, 15) 100%);
}

.main__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 47px;
}

.main__subtitle {
  line-height: 21px;
}

.main__search {
  display: flex;
  align-items: center;
  gap: 0 0.75em;
  background-color: #fff;
  margin-top: 1.25em;
  padding: 1.0625em 1.25em;
  max-width: 680px;
  width: 100%;
  border-radius: 40px;
}

.search__btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.search__btn path {
  stroke: rgb(90, 90, 90);
  transition: all 0.5s ease;
}
.search__btn:hover path {
  stroke: #000;
}

.main__input {
  border: none;
  width: 100%;
}

.material__box {
  display: flex;
  justify-content: center;
  gap: 0 1.25em;
  margin-top: 3.125em;
  margin-bottom: 3.125em;
  font-size: 1.125rem;
}

.material__btn {
  transition: all 0.3s ease;
  padding: 0.625em;
  border-radius: 40px;
}
.material__btn:hover {
  color: #afafaf;
}

.active {
  transition: all 0.3s ease;
  background: #fff;
  color: #000;
}
.active:hover {
  background: #d1d1d1;
}

.material__photos {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 3.125em;
  justify-content: center;
}

.material__title {
  font-size: 1.625rem;
  margin-bottom: 1.5625em;
  margin-left: 2.1875em;
}

.topic {
  color: #b6b6b6;
}

.form {
  max-width: 100%;
  width: 100%;
}

.centered {
  text-align: center;
  font-size: 1.875rem;
}

.material__img-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.material__item {
  position: relative;
}
.material__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.material__item:hover::before {
  opacity: 1;
  cursor: zoom-in;
}
.material__item:hover {
  transition: all 1s ease;
  transform: scale(1.01);
}
.material__item:hover .material__img-title {
  opacity: 1;
  cursor: zoom-in;
}

.modal__window {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modal__window-inner {
  position: absolute;
  max-width: 1400px;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: #181717;
  padding: 3.125em;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__window-content {
  display: flex;
  gap: 0 4.375em;
}

.photographer__nickname {
  font-size: 1.5rem;
}

.photo-desc {
  font-size: 1.875rem;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 1.25em;
}

.window__user-box {
  display: flex;
  align-items: center;
  gap: 0 0.625em;
  margin-bottom: 1.25em;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-right: 3.125em;
}

.download-btn {
  padding: 1.25em;
  background-color: #4b8842;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 30px;
  max-width: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.download-btn:hover {
  background-color: #396d33;
}

#close-modal {
  transition: all 0.3s ease;
}
#close-modal:hover {
  transform: rotate(90deg);
}